$malware-color: #a6cee3;
$vulnerability-color: #b2df8a;
$software-color: #fdbf6f;

body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

paper-input-decorator /deep/ .focused-underline {
  background-color: #4285f4;
}

paper-button[raised].blue {
  background-color: #4285f4;
  color: #fff;
}

paper-radio-button.blue::shadow #ink[checked] {
  color: #4285f4;
}

paper-radio-button.blue::shadow #onRadio {
  background-color: #4285f4;
}

.edgeTable {
  vertical-align: top;
  border-collapse: collapse;
  border: 1px solid black;
}

.edgeTableRow, td.edgeTableRow {
  padding: 4px;
  border: 1px solid black;
}

.malware {
  background-color: $malware_color;
}

.vulnerability {
  background-color: $vulnerability_color;
}

.software {
  background-color: $software_color;
}

.user {
  background-color: #a9a9f5;
}

.account {
  background-color: #bca9f5;
}

.host {
  background-color: #a9f5f2;
}

.address {
  background-color: #81f7f3;
}

.DNSName {
  background-color: #3dbf6f;
}

.IP {
  background-color: #bef781;
}

.port {
  background-color: #f78181;
}

.addressRange {
  background-color: #58acfa;
}

.service {
  background-color: #a9f5d0;
}

.flow {
  background-color: #31b404;
}

.attack {
  background-color: #f03000;
}

.attacker {
  background-color: #f2f5a9;
}