section.page.alert-details
  
  .panel.panel-primary
    .panel-heading
      div.pull-right
        button.close(type="button", aria-label="Close", data-hook="close")
          span(aria-hidden="true") &times;
      h3.panel-title
        span(data-hook='nodeType')
        span &nbsp; &#10230; &nbsp;
        span(data-hook='gid')

    .panel-body
      dl.dl-horizontal
        dt Name
        dd(data-hook='name')
        dt Description
        dd(data-hook='desc')