section.page
  
  .results
    .panel.panel-primary
      .panel-heading
        div.pull-right
          button.close(type="button", aria-label="Close", data-hook="close")
            span(aria-hidden="true") &times;
        h3.panel-title Query &nbsp; &#10230; &nbsp; 
          span.q(data-hook="query-string-container")

      .panel-body
        ul.resList(data-hook="results-list")
      
      .panel-footer
        nav
          ul.pager
            li.previous(data-hook="prevBtnContainer").disabled
              a(href="#", data-hook="prevBtn") <span aria-hidden="true">&larr;</span> Previous
            li.next(data-hook="nextBtnContainer")
              a(href="#", data-hook="nextBtn") Next <span aria-hidden="true">&rarr;</span>
