@import '_variables'
@import '_mixins'
@import 'app/main'

.vulnerability{fill:rgb(166,206,227)}
.malware{fill:rgb(31,120,180)}

.service{fill:rgb(178,223,138)}
.software{fill:rgb(51,160,44)}

.flow{fill:rgb(251,154,153)}
.attack{fill:rgb(227,26,28)}

.host{fill:rgb(253,191,111)}
.port{fill:rgb(255,127,0)}

// address includes DNSName, IP, addressRange
.address{fill:rgb(202,178,214)}
.attacker{fill:rgb(106,61,154)}

.user{fill:rgb(255,255,153)}
.account{fill:rgb(177,89,40)}