<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
  </head>
  <body>
    <div id="container"></div>
    <script src="<%= bundle %>"></script>
  </body>
</html>
