div
  br
  div(data-hook="message-container")
    .alert.alert-danger(data-hook="message-text")
  label.sr-only(data-hook="label")
  .input-group.input-group-lg
    input.input-lg.form-control(data-hook="query-input")
    span.input-group-btn
      button.btn.btn-primary(type="submit") Search
