#header {
  background-color: #61c788;
}

#sidebar{
  background-color: #64c9a9;
}

#playground{
  background-color: #67ccca;
}

#stixgraph{
  background-color: lightgrey;
}

#IND {
  fill: #fcc438;
}
#CMP {
  fill: #19967d;
}
#ACT {
  fill: #c92d39;
}
#INC {
  fill: #ef8d22;
}
#EXP {
  fill: #666;
}
#COA {
  fill: #7ab648;
}
#TTP {
  fill: #834187;
}
#OBS {
  fill: #0c7cba;
}
