body {
  background: #fff;
  font-family: 'Lato', Helvetica, sans-serif;
}
.search-query-title {
  margin-top: 50px;
  text-align: center;
}
.search-query-title h1 {
  letter-spacing: 0.2em;
}
.search-query-form {
  margin-top: 30px;
}
.vulnerability {
  fill: #a6cee3;
}
.malware {
  fill: #1f78b4;
}
.service {
  fill: #b2df8a;
}
.software {
  fill: #33a02c;
}
.flow {
  fill: #fb9a99;
}
.attack {
  fill: #e31a1c;
}
.host {
  fill: #fdbf6f;
}
.port {
  fill: #ff7f00;
}
.address {
  fill: #cab2d6;
}
.attacker {
  fill: #6a3d9a;
}
.user {
  fill: #ff9;
}
.account {
  fill: #b15928;
}
