body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Stucco
      ul.nav.navbar-nav
        li
            a(href="/") Home
          li
            a(href="/help") Help
  .container-fluid
    main(data-hook="page-container")
